"*":
  "exception-reporting":
    userId: "6b465161-9b31-2b71-bb40-017344eeb2aa"
  welcome:
    showOnStartup: false
  core:
    excludeVcsIgnoredPaths: false
    themes: [
      "flatland-dark-ui"
      "flatland-dark"
    ]
    disabledPackages: [
      "highlight-column"
      "build"
      "markdown-pdf"
      "pandoc"
      "atom-jade"
    ]
  editor:
    invisibles: {}
    fontSize: 17
    fontFamily: "mplus-1m-regular"
  react: {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "atom-memolist":
    memo_dir_path: "/Users/katsutoshi/Dropbox/memo"
  "vim-surround": {}
  jshint:
    supportLintingJsx: true
  "tree-view": {}
  "markdown-writer": {}
  build: {}
  "npm-install": {}
  "atom-quickmemo":
    memoDirPath: "~/Dropbox/memo"
    templatePath: "~/Dropbox/memo/.template.md"
  "atom-beautify":
    _analyticsUserId: "b18a3428-53dc-4f98-875c-c11b684501dd"
  "markdown-pdf": {}
  "markdown-table-formatter": {}
  "git-plus": {}
  "vim-mode": {}
  "one-dark-ui": {}
  "markdown-preview":
    breakOnSingleNewline: true
