"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    particles:
      size: {}
      spawnCount: {}
    screenShake: {}
  "atom-beautify":
    _analyticsUserId: "b18a3428-53dc-4f98-875c-c11b684501dd"
  "atom-memolist":
    memo_dir_path: "/Users/katsutoshi/Dropbox/memo"
  "atom-quickmemo":
    memoDirPath: "~/Documents/memo"
    templatePath: "~/Documents/memo/.template.md"
  "atom-ternjs":
    useSnippets: true
  "atom-text-editor":
    "autocomplete-active":
      "ctrl-shift-a": "autocomplete-plus:confirm"
      tab: "unset!"
  build: {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "pandoc"
      "atom-jade"
      "docs-snippets"
      "ex-mode"
      "autocomplete-paths"
      "javascript-snippets"
      "es6-javascript"
      "graphviz-preview"
      "language-dot"
      "omnisharp-atom"
      "activate-power-mode"
      "atom-mermaid"
      "react"
      "git-plus"
      "tablr"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "~/development"
    telemetryConsent: "limited"
    themes: [
      "flatland-dark-ui"
      "flatland-dark"
    ]
    warnOnLargeFileLimit: 1
  "cursor-history": {}
  "custom-title":
    template: "<% if (projectName) { %> - <%= projectName %><% } %> / <%= relativeFilePath %>"
  dash:
    filenames:
      "gruntfile.js": [
        "grunt"
      ]
    grammars:
      JavaScript: [
        "nodejs"
      ]
  editor:
    fontFamily: "mplus-1m-regular"
    invisibles:
      space: " "
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "6b465161-9b31-2b71-bb40-017344eeb2aa"
  "file-icons": {}
  "find-and-replace": {}
  "fuzzy-finder":
    useAlternateScoring: false
  "git-plus": {}
  "highlight-selected": {}
  "jsdoc-generator": {}
  jshint:
    supportLintingJsx: true
  "language-babel": {}
  linter:
    errorPanelHeight: 122
  "markdown-pdf": {}
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-table-formatter": {}
  "markdown-writer": {}
  "node-debugger":
    debugPort: 4001
  "npm-install": {}
  "one-dark-ui": {}
  react: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  term2: {}
  "terminal-plus":
    core: {}
  "tree-view": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    scrollPastEnd: true
